body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #EEE;
    background: #dc9e85;
    margin: auto auto;
    max-width: 860px;
    min-width: 560px;
    text-align: center;
}

button {
    border: 0;
}

#wrapper {
    margin: auto;
    width: 90%;
    max-height: 95%;
    background: rgba(0, 0, 0, 0.05);
}

#wrapper>div {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    background: rgba(0, 0, 0, 0.15);
    max-height: 90%;
    width: 47%;
    overflow-y: auto;
    font-size: 20px;
    font-weight: bold;
}

#quarters>* {
    background: rgba(0, 0, 0, .25);
    margin: 5px;
    min-height: 50px;
    width: 90%;
    display: inherit;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid black;
}

.container>div.ele {
    font-style: italic;
}

.container>div.prereq {
    background-color: rgba(0, 0, 0, .15);
    cursor: default;
    border-style: none;
}

#quarters>.invalid {
    border: none;
}


/* DRAGULA */

.container>div {
    font-size: 16px;
    font-weight: normal;
    cursor: move;
    cursor: grab;
    display: inherit;
    background: rgba(0, 0, 0, 0.45);
    margin: 5px;
    width: 90%;
    border: 2px solid black;
}

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}